<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
	 	<typeAlias type="org.kgb4232.dto.BoardDTO" alias="boardDTO"/>
	 	<typeAlias type="org.kgb4232.dto.WriteDTO" alias="writeDTO"/>
	 	<typeAlias type="org.kgb4232.dto.CommentDTO" alias="commentDTO"/>
	 	<typeAlias type="org.kgb4232.dto.LoginDTO" alias="loginDTO"/>
	 	<typeAlias type="org.kgb4232.dto.MemberDTO" alias="memberDTO"/>
	 	<typeAlias type="org.kgb4232.dto.GalleryDTO" alias="galleryDTO"/>
	 	<typeAlias type="org.kgb4232.dto.NoticeDTO" alias="notice"/>
	</typeAliases>
</configuration>